<%- include("partial/header", { title: "Gallery" }) %>

<h2 class="text-center mb-4">Image Gallery</h2>

<% if (posts.length > 0) { %>
    <div class="container mt-5">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <% posts.forEach((post,index) => { %>
          <div class="col">
            <div class="card shadow-lg border-0 rounded-4 h-100">
              <div class="card-body text-center position-relative">
                <form action="/delete/<%= index %>" method="POST" class="position-absolute top-0 end-0 m-2">
                    <button type="submit" class="btn btn-sm btn-outline-danger" title="Delete" onclick="return confirm('Are you sure you want to delete this post?')">
                      <i class="bi bi-trash">X</i>
                    </button>
                  </form>
                <h5 class="card-title text-primary"><%= post.title %></h5>
                <p class="text-muted"><%= post.date %></p>
  
                <div class="row g-2 justify-content-center mt-3">
                  <% post.image.forEach(img => { %>
                    <div class="col-6">
                      <img 
                        src="<%= img %>" 
                        class="img-fluid rounded-3 shadow-sm border"
                        style="max-height: 150px; object-fit: cover;"
                        alt="Uploaded Image" 
                      />
                    </div>
                  <% }) %>
                </div>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  <% } else { %>
    <div class="alert alert-info text-center mt-5">No images uploaded yet.</div>
  <% } %>
  

<%- include("partial/footer") %>
